footer {
	max-width: $layout-width;
	height: $footer-height;
	margin: auto;
	@include rem(padding, 45px 0)
	background-color: #222;
	font-size: 11px;
	color: $color-gray-4;

	.address {
		width: 50%;
		float: left;
	}

	.copyright {
		width: 50%;
		float: left;
		text-align: right;
	}

	@include viewport('max-width: 480px') {
		.address {
			width: 100%;
		}

		.copyright {
			width: 100%;
			margin-bottom: 10px;
			text-align: left;
		}

	}
}