extends ../layouts/default.jade
block content
	include ../includes/home/for-clients.jade
	include ../includes/home/for-drivers.jade
	include ../includes/home/for-partners.jade
	include ../includes/home/quick-start.jade
	