header
	.container
		.site-logo
			img(src="assets/images/logo.png", alt="Feb Taxi")
		nav.navbar
			button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#top-navbar", aria-expanded="false")
				span.icon-bar
				span.icon-bar
				span.icon-bar

			.navbar-collapse.collapse#top-navbar
				ul.nav.navbar-nav.navbar-right
					li.active
						a(href="#clients").js-anchor Клиентам
					li
						a(href="#drivers").js-anchor Водителям
					li
						a(href="#partners").js-anchor Партнерам
