header
	.site-logo
		img(src="/assets/images/logo.png", alt="feb taxi logo")

	.container
		nav.navbar
			button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#top-navbar", aria-expanded="false")
				span.icon-bar
				span.icon-bar
				span.icon-bar

			.navbar-collapse.collapse#top-navbar
				ul.nav.navbar-nav.navbar-right
					li.active
						a(href="#clients") Клиентам
					li
						a(href="#drivers") Водителям
					li
						a(href="#partners") Партнерам
