section#drivers
	.action-block
		.container
			.row
				.action-block__content-table.col-lg-7.col-md-8
					.action-block__image
						img(src="/assets/images/women.png", alt="women")
					.action-block__content
						.section-title Водителям
						.action-block__title.block__title_lg FebTaxi гарантирует постоянный приток заказов.
						button.btn.btn-action.action-block__button(
							data-toggle="modal" data-target="#driverReg") Регистрация

				.col-lg-5.col-md-4
					.action-block__description.block__content
						p Минимум простоев. Заказы по освобождению.
						p Мы создаем новые возможности. Самым активным и добросовестным водителям FebTaxi предоставляет дополнительные бонусы. Рейтинги.
						br
						p Подарки и денежные поощрения.