section#partners
	.container
			h2.section-title.section-title_divided Партнерам
			.row
				.col-lg-4.col-md-4.col-sm-4
					.features-item_lg
						.block__title.block__title_lg Заказы с приложений
						.block__content.block__content_lg Мы даем вам совершенно новых клиентов, которые пользуются смартфонами. Они обеспечены и активны. Работа с нами позволит вам открыть качественно новую пользовательскую базу без дополнительных затрат и рекламных кампаний.
					.features-item_lg
						.block__title.block__title_lg Будьте на связи
						.block__content.block__content_lg Контролируй рабочий процесс в любом месте, в любое время. Для входа в систему вам не потребуется постороннее приложение, закаченное в ваш компьютер, и даже не потребуются дополнительные настройки. Вы можете зайти в программу с любого Интернет браузера.
					.features-item_lg
						.block__title.block__title_lg Бизнес без «ограничений»
						.block__content.block__content_lg С программой Feb Taxi вы можете не ограничивать оформление водителей и диспетчеров . Количество рабочих мест не ограниченно.

				.col-lg-4.col-md-4.col-sm-4
					.features-item_lg
						.block__title.block__title_lg Гибкие тарифы
						.block__content.block__content_lg Индивидуальный подход к каждому партнеру. Вместе с вами у нас получится сформировать наиболее удобную для тарифную политику и выработать гибкую систему мотиваций
					.features-item_lg.visible-lg.visible-md.visible-sm
						.block__content.block__content-image
							img(src="/assets/images/partners-bg.jpg", alt="partners image")
					.features-item_lg
						.block__title.block__title_lg Контроль-это важно
						.block__content.block__content_lg Мы уделили огромное внимание контролю в программе Feb Taxi, ведь это важно для любого руководителя. Вы можете прослушивать все разговоры, а функция «глаза и уши» позволит вам отследить GPS-трек водителя а так же посмотреть весь процесс распределения заказов.

				.col-lg-4.col-md-4.col-sm-4
					.features-item_lg
						.block__title.block__title_lg Новые возможности 
						.block__content.block__content_lg Стань частью FebTaxi, получи современные инструменты привлечения! Гибкие бонусные программы позволят увеличить количество заказов и ваш доход!
					.features-item_lg
						.block__title.block__title_lg Легко и просто
						.block__content.block__content_lg В Feb Taxi вам не придется ломать голову и долго обучаться пользованию программы. В отличие от других программных обеспечений, у Feb Taxi легкий интерфейс, максимально удобный как для диспетчеров, так и для водителей.
					.features-item_lg
						.block__title.block__title_lg Продуктивность и статистика - теперь в два щелчка!
						.block__content.block__content_lg В нашей программе вы можете мониторить количество выполненных заказов, количество отказов, проверять продуктивность диспетчеров, таким образом выстраивать новые схемы рабочего процесса для увеличения клиентской базы и результативности.
