section
	.action-block.quick-start
			h2.block__title.block__title_lg Быстрый старт
			.block__content.quick-start__content Начать бизнес с FEB просто! У нас отличное веб-приложение для диспетчеров. Вам не нужен IT-отдел или какая-либо интеграция. Наша диспетчерская всегда к вашим услугам. Присоединяйтесь к нам!
			button.quick-start__button.btn.btn-action(data-modal="#quickStart") Получить подробную информацию
			.quick-start__additional Мы гарантируем успех вашего бизнеса!!! <br> С Feb - Вы всегда на шаг впереди!